body {
  background-color: #333333 !important;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.playersContainer {
  background-color: red;
}

canvas {
  border: solid 5px black;
}

.fieldContainer {
  position: absolute;
  top: 0;
  left: 0;
}
.fieldContainer div {
  width: 30px;
  height: 30px;
  border-width: 3px;
  border-style: solid;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

.cnvContainer {
  margin: 5px;
  margin: 0% auto;
  width: 80vw;
  height: 80vw;
  max-width: 1100px !important;
  max-height: 940px !important;
  background-color: #333333;
  max-height: 1100px;
}

@media only screen and (min-width: 1020px) {
  body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .haj {
    width: 100vw;
    height: 100vh;
    margin: 0;
    justify-content: center;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .cnvContainer {
    margin-top: 10px;
  }

  .players {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .playerConetainer {
    border-width: 10px !important;
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 1020px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }

  .cnvContainer {
    margin-top: 10px;
  }

  .players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .playerConetainer {
    border-width: 10px !important;
    width: 10rem;
    height: 8rem;
  }
}
@media only screen and (max-width: 450px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .cnvContainer {
    margin-top: 10px;
  }

  .players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .playerConetainer {
    border-width: 5px !important;
    width: 9rem;
    height: 9rem;
    overflow: auto;
  }
}
.playerConetainer {
  display: block;
  background-color: rgba(255, 255, 255, 0) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerConetainer h3,
.playerConetainer span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  color: white;
}
.playerConetainer span {
  visibility: hidden;
}
.playerConetainer button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  bottom: solid;
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  border-radius: 5px;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.playerConetainer button:hover {
  background-color: green;
}

.diceContainer {
  width: 90%;
  height: 90%;
}