@import url("https://fonts.googleapis.com/css2?family=Kavivanar&display=swap");
body {
  height: 100vh;
  overflow: hidden !important;
  scroll-behavior: smooth;
  background-image: url("../images/chineceDarkDragon.png");
  background-size: 100% 100%;
  background-position: auto;
  background-repeat: no-repeat;
}
body * {
  font-family: "Kavivanar", cursive;
}

.loginContainer {
  background: rgba(46, 46, 46, 0.767);
  width: 90%;
  display: inline-block;
  margin: 0 auto;
  border: solid 3px gray;
  border-radius: 10px;
}
.loginContainer div {
  padding: 2%;
}
.loginContainer input {
  background-color: rgba(128, 128, 128, 0);
  color: white;
  text-align: center;
}
.loginContainer input:focus {
  color: black !important;
}
.loginContainer button {
  border: solid 3px gray;
}

.colors {
  align-items: baseline;
}
.colors div {
  display: flex;
  flex-direction: row;
}
.colors div span {
  margin: 5px;
  color: white;
}

span {
  display: inline-block;
  text-align: center;
}